{% ckan_extends %}
{% import 'macros/vl.html' as vl %}
{%- set lang = h.lang() -%}

{% block resource_item_title %}
<td>
    {{ vl.ml_text(res.nature_genre_ml, lang) or _('Publication') }}
</td>
<td>
  {{ res.format }}
</td>
{% endblock %}

{% block resource_item_language %}
  <td >
    {%- set has_french = False -%}
    {%- if h.get_res_lang(res.languages, 'fre') or h.get_res_lang(res.languages, 'fra') -%}
      {{ _('French') }}
      {%- set has_french = True -%}
    {%- endif -%}
    {%- if h.get_res_lang(res.languages, 'eng') -%}
      {% if has_french %}, {% endif %}{{ _('English') }}
    {%- endif -%}
  </td>
{% endblock %}

{% block resource_item_description %}
<td >
  <a href="{{ res.url }}" title="{{ res.name or res.description or _('Resource') }}"  class="resource-url-analytics">
    <span class="badge">{{ _('Download') }}</span>
  </a>
</td>
{% endblock %}