{% ckan_extends %}
{% import 'macros/vl.html' as vl %}
{%- set lang = h.lang() -%}

{% block resource_item_title %}
<td>
    {{ vl.ml_text(res.numeric_designation_ml, lang) or _('Resource') }}
</td>
<td>
  {{ res.format }}
</td>
{% endblock %}

{% block resource_item_language %}
  <td >
    {%- if res.format_description_ml['fra'] -%}
      {{ _('French') }}
    {%- else -%}
      {{ _('English') }}
    {%- endif -%}
  </td>
{% endblock %}

{% block resource_item_description %}
<td >
  <a href="{{ res.url }}" title="{{ res.name or res.description or _('Resource') }}">
    <span class="badge">{{ _('Download') }}</span>
  </a>
</td>
{% endblock %}