{% ckan_extends %}

{% block package_organization %}
<div class="col-md-12">
  <h4>{{ _('Organization') }}: </h4>
  {{ vl.ml_text(pkg.source_organizations_ml, client_lang) }}
</div>
{% endblock %}

{% block package_item_notes %}
{% if c.pkg_dict.description_ml %}
<div class="col-md-12">
  <p>{{ c.pkg_dict.description_ml['en'] }}</p>
</div>
{% endif %}
{% endblock %}

{% block related_items %}
{%- if c.pkg_dict.other_language_url -%}
<div class="col-md-12">
  <h3 class="h4">{{ _('Related Items') }}</h3>
  {{ vl.other_lang_url(c.pkg_dict.other_language_url) }}
</div>
{%- endif -%}
{% endblock %}

{% block package_comments %}
{% include "package/comments.html" %}
{% endblock %}