{# vim: set filetype=jinja sw=2 sts=2: #}
{% ckan_extends %}

{%- block api_access_info -%}
  <!-- We want this block to be empty in the canada extension -->
{%- endblock -%}

{% block breadcrumb_content %}
{% endblock %}

{% block page_title %}{% endblock %}

{% block page_primary_action %}{% endblock %}

{% block secondary_content %}

    <h2>{{ _('Search Filters') }}</h2>
   {% if dataset_type == 'doc' %}
     {% if h.lang() == 'fr' %}
      {{ h.snippet('snippets/facet_list.html', title='Organisation',
        name='vocab_source_org_fr') }}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['vocab_subject_fr'],
        name='vocab_subject_fr') }}
     {% else %}
      {{ h.snippet('snippets/facet_list.html', title='Organization',
        name='vocab_source_org_en') }}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['vocab_subject_en'],
        name='vocab_subject_en') }}
      {% endif %}
    {% endif %}
    
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles['license_id'],
      name='license_id') }}
    
    {% block extra_facets %}
      
    {% endblock %}
        
    <div class="well well-sm">
      {% set license = h.get_license('ca-ogl-lgo') %}
      {% if license != None %}
        {% if h.lang() == 'en' %}
          <a href="{{ license.url }}">View the {{ license.title }}</a>
        {% else %}
          <a href="{{ license.url_fra }}">Voir la {{
            license.title_fra[:1].lower() }}{{ license.title_fra[1:] }}</a>
        {% endif %}
      {% endif %}
    </div>

{% endblock %}

{% block search_title %}
  {% if not no_title %}
    {% snippet 'snippets/search_result_text.html', query=query, count=count, type='doc' %}
  {% endif %}
{% endblock %}


{% block try_another_search %}
<p class="extra">
{%- trans -%}
Please review your spelling, or reduce the number of filters selected.
{%- endtrans -%}
</p>
{% endblock %}
