{%- macro ml_text(field_values, client_lang) -%}
    {%- if client_lang == 'fr' -%}
        {%- if 'fr' in field_values  -%}
            {{- field_values[client_lang] -}}
        {%- elif 'en' in field_values  -%}
            {{- field_values['en'] -}}
        {%- endif -%}
    {%- else -%}
      {%- if 'en' in field_values  -%}
        {{- field_values['en'] -}}
      {%- elif 'fr' in field_values  -%}
            {{- field_values['fr'] -}}
      {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro other_lang_url(url_list) -%}
  {%- if url_list != None and ',' in value -%}
    {%- set urls = url_list.split(',') -%}
    <ul>
      {%- for u in urls -%}
      <li><a href="{{ u }}">{{_('Other Language Edition')}}</a></li>
      {%- endfor -%}
    </ul>
  {%- elif url_list != None -%}
    <a href="{{ url_list }}">{{_('Other Language Edition')}}</a>
  {%- else -%}
    {{ '' }}
  {%- endif -%}
{%- endmacro -%}